	/*======================================================================*\
	|| #################################################################### ||
	|| # Тестовый стиль, который генерируется и подключается в файле        ||
	|| #################################################################### ||
	\*======================================================================*/

	td {
		padding: 3px;
	}
