<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250">

<title>{ARANDKEYWORD}</title>
<meta name="description" content="{CRANDKEYWORD}. {CRANDKEYWORD}. {CRANDKEYWORD}. {CRANDKEYWORD}. {CRANDKEYWORD}">
<meta name="Robots" content="ALL">
<meta name="Distribution" content="GLOBAL">
<meta name="Revisit-After" content="5 Days">
<meta name="Rating" content="Adult">
<meta name="Category" content="Gay">

<link rel="stylesheet" type="text/css" href="style.css" media="all">
</head>
<body>

<div align="center">
   
</div>

<div class="content" align="center">
	
</div>

<div class="content" align="center">
	<!-- /adblock2 -->
</div>


<div class="content" align="center">
	
</div>


<div class="content" align="center">
	
</div>

<div class="content" align="center">
{INDEXLINK}
<a href="sitemap.xml">sitemap</a>
{ALLLINK}
</div>

</body>
</html>
