<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{BRAND_KEY}, {BRAND_KEY}, {BRAND_KEY}, {BRAND_KEY}, {BRAND_KEY}" />
<meta name="description" content="{SNIPPET(en-dating-adult.txt)} {SNIPPET(en-dating-adult.txt)}"/>
<title>{BRAND_KEY}, {BRAND_KEY}. </title>

<link rel="stylesheet" type="text/css" href="style.css" media="all">
<script type="text/javascript" src="js/script.js"></script>
</head>
<body>

<div id="page_wrap">
<div id="page">

<div id="header_wrap">
<div id="header">

<h1><a href="#">{BRAND_KEY}</a></h1>

<div class="toplinks">
<div class="loginsignup">
<a href="#" title="Sign up"><span>Sign up</span></a></div>
</div>

<div class="clear"></div>
</div>
</div>
<div class="clear"></div>

<div id="headernav_wrap">
<div id="headernav">
<ul>
<li class="first"><a href="index.html" title="Home"><span>Home</span></a></li>
<li><a href="{RAND_URL}" title="Search"><span>Search</span></a></li>
<li><a href="{RAND_URL}" title="News"><span>News</span></a></li>
<li><a href="{RAND_URL}" title="Blogs"><span>Blogs</span></a></li>
<li><a href="{RAND_URL}" title="Pictures"><span>Pictures</span></a></li>
<li><a href="{RAND_URL}" title="Videos"><span>Videos</span></a></li>
<li><a href="{RAND_URL}" title="Events"><span>Events</span></a></li>

</ul>
</div>
</div>
<div class="clear"></div>

<div id="intro_wrap">
<div style="position: relative;" id="intro">
<img style="position: absolute; top: 0px; left: 0px; display: block; width: 958px; height: 250px;" src="img/image2.jpg" alt="" height="250" width="958">
</div>
</div>
<div class="clear"></div>

<div class="members_banner" align="center">
	<div class="jcarousel-skin-tango">
		<div style="display: block;" class="jcarousel-container jcarousel-container-horizontal">
			<?php include("/var/www/common/script/alks-banner1.txt"); ?>
		</div>
	</div>
<div class="clear"></div>
</div>
 
<div class="members_top">
	<div class=" jcarousel-skin-tango">
		<div style="display: block;" class="jcarousel-container jcarousel-container-horizontal">

			<div id="map111">{ALLLINK}</div>

		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="members_banner" align="center">
	<div class="jcarousel-skin-tango">
		<div style="display: block;" class="jcarousel-container jcarousel-container-horizontal">
			<?php include("/var/www/common/script/alks-banner2.txt"); ?>
		</div>
	</div>
<div class="clear"></div>
</div>

<div class="members_top">
	<div class=" jcarousel-skin-tango">
		<div style="display: block;" class="jcarousel-container jcarousel-container-horizontal">

			<table width="100%" cellspacing="0" cellpadding="0">
			{FORX(1,{RAND(2,3)})}
				<tr>
					<td width="153" rowspan="5"><a target="_blank" href="http://searchpro.ws/go.php?sid=30"><img src="/images/women/{RAND(1,1400)}.jpg" width="120" height="160" /></a></td>
					<td width="35%" height="15"><strong>Name: </strong> {RANDTEXTLINE(names-women.txt)} </td>
					<td width="153" rowspan="5"><a target="_blank" href="http://searchpro.ws/go.php?sid=30"><img src="/images/women/{RAND(1,1400)}.jpg" width="120" height="160" /></a></td>
					<td width="35%"><strong>Name: </strong> {RANDTEXTLINE(names-women.txt)} </td>
				</tr>
				<tr>
					<td height="15"><strong>Height: </strong> {RAND(160,180)}cm </td>
					<td><strong>Height: </strong> {RAND(160,180)}cm </td>
				</tr>
				<tr>
					<td height="15"><strong>Marital Status: </strong> Single </td>
					<td><strong>Marital Status: </strong> Single </td>
				</tr>
				<tr>
					<td height="15"><strong>Eye Colour: </strong> [[Blue|Brown|Grey|Green]] </td>
					<td><strong>Eye Colour: </strong> Blue </td>
				</tr>
				<tr>
					<td height="90" valign="top"><strong>Looking for: </strong> {FOR(1,{RAND(1,4)})}{BRAND_KEY}, {ENDFOR}{BRAND_KEY}... </td>
					<td valign="top"><strong>Looking for: </strong> {FOR(1,{RAND(1,4)})}{BRAND_KEY}, {ENDFOR}{BRAND_KEY}... </td>
				</tr>
				<tr>
					<td height="30" colspan="4">&nbsp;</td>
				</tr>
			  {ENDFORX}
			</table>

		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="clear"></div>  


<div class="members_banner" align="center">
	<div class="jcarousel-skin-tango">
		<div style="display: block;" class="jcarousel-container jcarousel-container-horizontal">
			<?php include("/var/www/common/script/alks-banner3.txt"); ?>
		</div>
	</div>
<div class="clear"></div>
</div>

      
<div class="clear"></div>  
 

<div id="footer_alt_wrap">
  <div id="footer_alt">
    <div class="block first"> 2011 &copy; <span style="font-weight: bold;">{DOR_HOST}<br><br></span>
    </div>
    <div class="block">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top" width="50%">
					<ul>
						{FOR(1,{RAND(1,5)})}<li>{CRANDLINK}</li>{ENDFOR}
					</ul>
				</td>
				<td valign="top" width="50%">
					<ul>
						{FOR(1,{RAND(1,5)})}<li>{CRANDLINK}</li>{ENDFOR}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
    </div>
    <div class="block last">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top" width="50%">
					<ul>
						{FOR(1,{RAND(1,5)})}<li>{CRANDLINK}</li>{ENDFOR}
					</ul>
				</td>
				<td valign="top" width="50%">
					<ul>
						{FOR(1,{RAND(1,5)})}<li>{CRANDLINK}</li>{ENDFOR}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>

</body>
</html>
